<p id="notice"><%= notice %></p>

<h1>Listing Pages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Page image url</th>
      <th>Page image caption</th>
      <th>Page bullet 01</th>
      <th>Page bullet 02</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.user_id %></td>
        <td><%= page.book_id %></td>
        <td><%= page.page_image_url %></td>
        <td><%= page.page_image_caption %></td>
        <td><%= page.page_bullet_01 %></td>
        <td><%= page.page_bullet_02 %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
