<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Books</h1>






    <div class="row">
      <% @books.each do |book| %>

      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object", src="<%= book.title_page_image_url %>" alt="<%= book.book_title %>">
        </div>
        <div class="media-body media-middle">
          <h4 class="media-heading"><%= book.book_title %></h4>
              <%= link_to 'Click to See Pages', book,  :class => "btn btn-primary" %>
              <p></p>
              <p><%= link_to 'Show', book %> | <%= link_to 'Edit', edit_book_path(book) %> | <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>  </p>
        </div>
      </div>
         <% end %>
    </div>
  </div>
  <div>
<!--     <h3><%= link_to 'New Book', new_book_path %></h3>
 --> </div>

