<div class="container">
  <p id="notice"><%= notice %></p>

<!-- Commented out by Jim -->
  <!-- <p>
    <strong>User:</strong>
    <%= @book.user_id %>
  </p>

  <p>
    <strong>Book title:</strong>
    <%= @book.book_title %>
  </p>

  <p>
    <strong>Title page image url:</strong>
    <%= @book.title_page_image_url %>
  </p>

  <%#= link_to #'Edit', #edit_book_path(@book) %> |
  <%#= link_to #'Back', #books_path %>

  <hr> -->



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="manual">
  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <% @page.each do |page_item| %>
    <%# if current_user.id == page_item.user_id %>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="<%= page_item.page_image_url %>" alt="...">
      <div class="carousel-caption">
        <p> + <%= page_item.page_bullet_01 %></p>
        <p> + <%= page_item.page_bullet_02 %></p>
      </div>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!-- jumbotron of image/slide -->
 <!--    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="image-responsive">
          <img src="<%= page_item.page_image_url %>" alt="<%= page_item.page_image_caption %>">
          </div>
          <p></p>
          <p> + <%= page_item.page_bullet_01 %></p>
          <p> + <%= page_item.page_bullet_02 %></p>

      </div>
    </div>


 -->
<!--       <h3>Page Item #<%= page_item.id %></h3>

      <br>

      <dl>
        <dt>User</dt>
        <dd><%= page_item.user_id %></dd>

        <dt>Book</dt>
        <dd><%= page_item.book_id %></dd>

        <dt>Image URL</dt>
        <dd><%= page_item.page_image_url%></dd>

        <dt>Image Caption</dt>
        <dd><%= page_item.page_image_caption %></dd>

        <dt>Page Bullet 01</dt>
        <dd><%= page_item.page_bullet_01%></dd>

        <dt>Page Bullet 02</dt>
        <dd><%= page_item.page_bullet_02%></dd>
      </dl>
      <br>
      <br> -->
    <%# end %>
  <% end %>
</div>

