<div class="container">
  <p id="notice"><%= notice %></p>

<!-- Commented out by Jim -->
  <!-- <p>
    <strong>User:</strong>
    <%= @book.user_id %>
  </p>

  <p>
    <strong>Book title:</strong>
    <%= @book.book_title %>
  </p>

  <p>
    <strong>Title page image url:</strong>
    <%= @book.title_page_image_url %>
  </p>

  <%#= link_to #'Edit', #edit_book_path(@book) %> |
  <%#= link_to #'Back', #books_path %>

  <hr> -->
 <% @page.each do |page_item| %>
<!-- jumbotron of image/slide -->
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="image-responsive">
            <img src="<%= page_item.page_image_url %>" alt="<%= page_item.page_image_caption %>">
          </div>
          <p></p>
          <p> + <%= page_item.page_bullet_01 %></p>
          <p> + <%= page_item.page_bullet_02 %></p>
        </div>
      </div>
      <% end %>
    </div>

